.dragContainer {
	margin: 20px;
	padding: 3px;
}

.answerDiv {
    float: right;
}

.questionDiv {
	float: left;
}

.questionOptionContainer {
	margin-bottom: 10px;
}

.answerOptionContainer {
	margin-bottom: 10px;
}

.box {
	border: 2px solid;
	padding: 10px;
	line-height: 20px;
	min-height: 20px;
	min-width: 30px;
}

.dragDropAnswerBox {
	cursor: pointer;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-color: lightblue;
}

.staticQuestionBox {
	float: left;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-color: lightgreen;
}

.destinationAnswerContainer .emptyQuestionBox {
	display: inline-block;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-color: lightgrey;
}

.destinationAnswerContainer .dragDropAnswerBox {
	display: inline-block;
	cursor: pointer;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-color: lightblue;
}

.dragContentContainer {
	position: absolute;
	display: none;
}

.answerOption-text {
	text-align: center;
}

.questionOption-text {
	text-align: center;
}

.zigzag-right {
    background: linear-gradient(-137deg, #e8117f 6px, transparent 0) 0 5px, linear-gradient(320deg, #e8117f 5px, #fff 0) 0 5px;
}

.zigzag-left {
    background: linear-gradient(-135deg, #e8117f 5px, transparent 0) 0 5px, linear-gradient(135deg, #e8117f 5px, #fff 0) 0 5px;
}