.dragContainer {
    min-width:500px;
    min-height:200px;
    margin:20px;
    padding:3px;
    -moz-user-select:no;
}

.answerDiv {
    float:right;	
}

.answerOptionContainer {
    margin-bottom:10px;
}

.dragDropAnswerBox {
    cursor:pointer;
    border: 2px solid;
    min-width:50px;
    padding: 10px;
    line-height:20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: lightblue;
}

.questionDiv {
    float:left;
    min-width: 150px;
}

.questionOptionContainer {	
    min-width:100px;
    line-height:20px;
    margin-bottom:10px;
}

.staticQuestionBox {
    float:left;
    border: 2px solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-color: lightgreen;
}

.destinationQuestionBox .emptyQuestionBox {	
    border: 2px solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: lightgrey;
    min-height: 20px;
    min-width: 30px;
}

.destinationQuestionBox .dragDropAnswerBox {
    border: 2px solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 20px;
    min-width: 30px;
    border-color: lightblue;
}

.dragContent {
    position:absolute;
    display:none;
}

.questionDiv .answerDiv .dragDropAnswerBox {
    cursor:pointer;
    border: 2px solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: lightblue;
}

.questionDiv .dragContentOver {
    border: 2px solid;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: lightblue;
}

.answerOption-text {
    padding-top: 10px;
    text-align: center;
}

.questionOption-text {
    padding-top: 10px;
    text-align: center;
}

.abc {
    background-color: aqua;
}

.zigzag-left {
    background: linear-gradient(-137deg, #e8117f 6px, transparent 0) 0 5px, 
    linear-gradient(320deg, #e8117f 5px, #fff 0) 0 5px;
 }