.dragContainer {	/* BIG DIV containing HTML needed for the entire script */
    width:300px;
    height:200px;
    margin-top:20px;
    padding:3px;
    -moz-user-select:no;
}

.questionDiv {	/* Big div for all the questions */
    float:left;
    height:100%;
    width:80px;
    padding:2px;
}
.answerDiv {	/* Big div for all the answers */
    float:right;
    min-width:53px;
    padding:2px;	
}

.questionDiv div {	
    min-width:53px;
    min-height:53px;
    line-height:20px;		
    float:left;
    margin-bottom:2px;
    margin-right:-18px;
}

.answerDiv div {	
    min-width:53px;
    min-height:53px;
    line-height:20px;
    margin-right:2px;
    margin-bottom:2px;
}

.dragContent {
    position:absolute;
    display:none;
}

.dragContent div {	
    min-width:53px;
    min-height:53px;
    line-height:20px;		
    float:left;
    margin-right:2px;
    margin-bottom:2px;
    background-color:#FFF;
    background-image: url('images/CapsuleRight.png');
    background-repeat: no-repeat;
    min-height: 53px;
}

.questionDiv .answerDiv .dragDropSmallBox {	/* Small answer divs */
    cursor:pointer;
    background-image: url('images/CapsuleRightDestinationDropped.png');
    background-repeat: no-repeat;
    min-height: 53px;
    padding-left: 5px;
}

.answerDiv .dragDropSmallBox {	/* Small answer divs */
    cursor:pointer;
    background-image: url('images/CapsuleRight.png');
    background-repeat: no-repeat;
    min-height: 53px;
}

.questionDiv .destinationBox {	/* css to show destination image when answer not dropped yet */
    border:0px;
    min-width:53px;
    min-height:63px;
    background-image: url('images/CapsuleRightDestination.png');
    background-repeat: no-repeat;
    margin-left: -4px;
}
.questionDiv .dragContentOver {	/* css when moving answer to destination to keep destination image showing */
    border:0px;
    min-width:53px;
    min-height:63px;
    background-image: url('images/CapsuleRightDestination.png');
    background-repeat: no-repeat;
    margin-left: -4px;
}

.clearfix {
    overflow: auto;
}	

.left-capsule {
background-image: url('images/CapsuleLeft.png');
background-repeat: no-repeat;
min-height: 53px;
min-width: 35px;
}

.right-capsule {
background-image: url('images/CapsuleRight.png');
background-repeat: no-repeat;
min-height: 53px;
}

.right-capsule-text {
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    font-size: x-small;
}

.left-capsule-text {
    padding-top: 10px;
    text-align: center;
    font-size: x-small;
}

.abc {
    background-color: aqua;
}

.zigzag-left {
    background: linear-gradient(-137deg, #e8117f 6px, transparent 0) 0 5px, 
    linear-gradient(320deg, #e8117f 5px, #fff 0) 0 5px;
 }